
@section scripts{
<script>
    function viewModel() {
        this.notepadName = ko.observable();
        this.items = ko.observableArray();
        //var items = [];
        
        this.createNotepad = function () {
            $.post("/Home/CreateNotepad", { notepad: this.notepadName() });
            this.addItem(this.notepadName());
            //list.appendChild(document.createElement('li').innerHTML = this.notepadName());
            list.appendChild(document.createElement('li').id = this.notepadName());
        };

        this.addItem = function (item) {
            if (item != "")
            {
                this.items.push(item);
            }
        };
        
        this.showNotepads = function () {
            document.getElementById("notepad").innerHTML = "";
            //$('#notepad').empty();    //тоже самое
            for (var i = 0; i < this.items().length; i++) {
                document.getElementById("notepad").innerHTML += this.items()[i] + '<br>';
                //$('#notepad').append('123' + '<br>'); //тоже самое
            }
        };

        this.deleteNotepads = function () {
            this.items().length = 0;
        };

        this.loadNotepads = function () {
            $.get("/Home/LoadNotepads").success(function (data) {
                for (var i = 0; i < data.length; i++) {
                    //alert(data[i]);
                    //debugger;
                    console.log(data[i]);
                }
            })
        };

        this.loadNotepad = function (item) {

        };
    };
    list = function () {

    };

    ko.applyBindings(new viewModel());
</script>
}

<html>
<body>

    <h3>Создание и редактирование блокнотов</h3>
    <div>
        <div>
            <input data-bind="value: notepadName" />
        </div>
        <button data-bind="click: createNotepad">Создать</button>

        <button data-bind="click: showNotepads">Выгрузить</button>
        <button data-bind="click: deleteNotepads">Очистить</button>
        <button data-bind="click: loadNotepads">Загрузить</button>

        <p id="notepad"></p>

        <ul id="list">
            <li id=""></li>
        </ul>

        <textarea id="notepadContent"></textarea>

    </div>

</body>
</html>